@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Cabin', sans-serif;
    width:auto;
    
}

.mi-body {
    font-family: 'Cabin', sans-serif;
    overflow-x: auto;
    max-width: 100vw;
    max-height: 100vh;
    border: none;
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 0;
    background-position-y:0;
    
}

header {
    border: 1px solid black;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.mi-nav-bar{
    box-sizing: content-box;
    width: calc(100vw - 3rem);
    height: 15vh;
    max-height: 90px;
    background-color: white;
    z-index: 100;
    display:flex;
    margin: 0.5rem 1.5rem;
    border: 1px solid #585858;
    border-radius: 1rem;
}

.grilla {
    background-color: blue;
    display: grid;
    border: 1px solid black;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 1fr;
}

.nav-bar-icon-search-container {
    display: flex;
    border: 1px solid;
    align-items: center;
}

.nav-bar-icon-search-container .grilla {
    background-color: yellow;
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 4fr 1fr;
    a {
        margin: 10px;
    }
}



.nav-var-botones {
    border: 1px solid;
}

.nav-bar-logo-icon {
    height: 50px;
}

.logo-icon {
    width: 50px;
    height: 50px;

}
#search {
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid #585858;
    width: auto;
    height: 50px;
    border-color: #585858;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    background-image: url(../images/search_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0%;
}

.nav-bar-ul {
    list-style: none;
    height: 50px;
    margin-bottom: 0px;
    padding-left: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.nav-bar-li-a {
    text-decoration: none;
    color: #585858; /*COLOR de texto de botones del NAVBAAR*/
    width: 220px;
    height: 50px;
    text-align: center;
    font-size:24px;
    line-height: 50px;
    }

.nav-bar-li {
    display: inline;
    background-color: inherit;
}



.nav-bar-li-a:hover{
    background-color: #fe5858;
    border: 1px solid #585858;
    border-radius: 5px;
    line-height: 50px;
    color: white;
}

.mi-main {

    padding: calc(15vh + 1rem) 1.5rem 1.5rem 1.5rem;
    height: auto;
}

.mi-footer {
    width: calc(100vw - 3rem);
    height: 5vh;
    max-height: 45px;
    border: 1px solid #585858;
    background-color: white;
    z-index: 100;
    margin: 0.5rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    bottom: 0px;

    p {
        font-size: 1rem;
        text-align: center;
        color: black;
        margin-bottom: 0rem;
    }
    
}



.container-fluid, .col, .row {
    border: 1px solid black;
}




/*MEDIA QUERYS*/

@media (max-width:575px) {
    .nav-bar-ul {
        display:none;
    }
}

@media (min-width:576px){
    .menu-bx {
        display: none;
    }
}

