@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Cabin', sans-serif;
    width:auto;
    
}

.mi-body {
    font-family: 'Cabin', sans-serif;
    overflow-x: auto;
    max-width: 100vw;
    max-height: 100vh;
    border: none;
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 0;
    background-position-y:0;
    
}

header {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.mi-nav-bar{
    box-sizing: content-box;
    width: calc(100vw - 3rem);
    height: 15vh;
    max-height: 90px;
    min-height: 60px;
    background-color: white;
    z-index: 100;
    display:flex;
    margin: 0.5rem 1.5rem;
    border: 1px solid #585858;
    border-radius: 1rem 1rem 1rem 1rem;
}

.grilla {
    background-color: blue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.nav-bar-icon-search-container {
    display: flex;
    align-items: center;
    width: auto;
    min-height: 60px;
}

.nav-bar-logo-icon-a {
    padding-left: 10px;
    display: flex;
}

.logo-icon {
    width: 50px;
    height: 50px;
}

#search {
    margin: 0px 10px 0 10px;
    border-radius: 30px;
    border: 1px solid #585858;
    width: 100%;
    min-width: 350px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    background-image: url(../images/search_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0%;
}

.menu-bx {
    margin-right: 10px;
}
.menu-hamburguesa {
    height: 50px;
    width: 50px;
    color:#585858;
}

.nav-bar-botones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: inherit;
}

.nav-bar-ul {
    list-style: none;
    height: 15vh;
    max-height: 90px;
    min-height: 60px;
    min-width: 880px;
    margin-bottom: 0px;
    width: 50%;
    display:flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: inherit;
}

.nav-bar-li-a { /*botones del NAVBAAR*/
    text-decoration: none;
    color: #585858;
    width: 220px;
    height: 50px;
    font-size:24px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    }

.nav-bar-li-a:hover{
    background-color: #fe5858;
    border: 1px solid #585858;
    border-radius: 5px;
    line-height: 50px;
    color: white;
}

.mi-main {

    padding: calc(15vh + 1rem) 1.5rem 1.5rem 1.5rem;
    height: auto;
}

.mi-footer {
    width: calc(100vw - 3rem);
    height: 5vh;
    max-height: 45px;
    border: 1px solid #585858;
    background-color: white;
    z-index: 100;
    margin: 0.5rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    bottom: 0px;

    p {
        font-size: 1rem;
        text-align: center;
        color: black;
        margin-bottom: 0rem;
    }
    
}



/*MEDIA QUERYS*/

@media (max-width:575px) {
    .nav-bar-ul {
        width: 0%;
        display: none;
    }
    
    .nav-bar-icon-search-container{
        width: 100%;
    }
}

@media (max-width:1360px) {
    .nav-bar-botones, .nav-bar-ul {
        justify-content: space-around;
        width: 100%;
        min-width: 490px;
    }

    .mi-footer {
        max-height: 80px;
    }

    .nav-bar-li-a {
        width: 190px;
    }
    .boton-simple {
        width: 100px;
    }
}

@media (min-width:576px){
    .menu-bx {
        display: none;
    }
}

