@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Cabin', sans-serif;
    background-color: white;
    width:auto;
}

header {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
}
.nav-bar {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    border: 1px solid;
}

.nav-bar-logo-icon {
    height: 50px;
}

.logo-icon {
    width: 50px;
    height: 50px;

}
.search {
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    width: 300px;
    height: 50px;
    border-color: black;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    background-image: url(../images/search_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0%;
}

.nav-bar-ul {
    list-style: none;
    height: 50px;
    margin-bottom: 0px;
    padding-left: 0;
    width: 100%;
    display:flex;
    border: 1px solid;
}


.nav-bar-li {
    display: inline;
    width: 220px;
    height: 50px;
    text-align: center;
    font-size:24px;
    line-height: 50px;
}

.nav-bar-li-a {
text-decoration: none;
color: black;
background-color: inherit;
}

.nav-bar-li:hover{
    background-color: red;
}



